@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.buzon-container{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
}

/* .buzon-form{
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    gap: 2em;
    display: flex;
    padding-left: 7em;
    border: 1px solid blue;
} */

/* CSS */
.watch-registers {
  width: fit-content;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #777673 0, #5E5D5B 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-left: auto;
}

.watch-registers:focus {
  box-shadow: #777673 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.watch-registers:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #777673 0 -3px 0 inset;
  transform: translateY(-2px);
}

.watch-registers:active {
  box-shadow: #777673 0 3px 7px inset;
  transform: translateY(2px);
}

.buzon-form{
    width: 100%;
    position: relative;
    z-index: 100;
    max-width: 800px;
    height: fit-content;
    padding: 3em;
    /* border: 10px solid #ccc; */
    background-color: #9D1A1C;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* background: rgb(227,215,215);
background: radial-gradient(circle, rgba(227,215,215,1) 0%, rgba(157,26,28,1) 73%, rgba(157,26,28,1) 100%); */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buzon-input_label_container{
    height: 450px;
    justify-content: center;
    display: flex;
    gap: 8em;
    margin-bottom: 2em;
}

.buzon-labels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.5em;
}

.buzon-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    gap: 2.5em;
    margin-top: 3em;
}

.buzon-labels > label{
    font-size: 1.2rem;
    font-weight: 400; 
    color: #fff;   
}

.buzon-inputs select, .buzon-inputs input[type=text] {
    padding: 10px 10px;
    border-radius: 10px;
    border-style: none;
    border: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: .9rem;
}

.buzon-textarea{
    padding: 10px 10px;
    height: 80px;
    border-radius: 10px;
    border-style: none;
    border: 1px solid #ccc;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: .9rem;
}

.buzon-button{
  align-items: center;
  justify-content: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #fff 0, #fff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 40%;
  align-self: center;
  font-weight: bold;
}

.buzon-button:focus {
  box-shadow: #5D5E5B 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #5D5E5B 0 -3px 0 inset;
}

.buzon-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #5D5E5B 0 -3px 0 inset;
  transform: translateY(-2px);
}

.buzon-button:active {
  box-shadow: #5D5E5B 0 3px 7px inset;
  transform: translateY(2px);
}

.buzon-button:disabled{
  background-image: radial-gradient(100% 100% at 100% 0, #ccc 0, #ccc 100%);
  color: #fff;
}

@media screen and (max-width: 600px) {

    .buzon-form{
        padding: 1em;
        margin-top: 5em;
    }

    .buzon-labels > label{
        font-size: .9rem;
        font-weight: bold;
    }

    .buzon-input_label_container{
        height: fit-content;
        gap: .3em;
        /* margin-bottom: 2em; */
    }
}