.footer{
    margin-top: 2em;
    background-color: #37474F;
    padding: 2em;
    color: #fafafa;
    border-radius: 10px;
    margin-bottom: 2em;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
}

.footer-container h5{
    font-size: 1rem;
    margin-bottom: .7em;
}

.link-footer{
    color: #fff;
    text-decoration: none;
}

.footer-container>li{
    list-style: none;
}

.aplicaciones-ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.aplicaciones-ul>li{
    display: flex;
    flex-direction: column;
}

.aplicaciones-ul a{
    color: #cacaca;
    text-decoration: none;
    margin-left: 1em;
}

.aplicaciones-ul a:hover{
    text-decoration: underline;
    color: #000;
}

.link-footer{
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

.link-footer:hover{
    color: #000;
}

.footer-header img{
    width: 40px;    
}

.footer-header h5{
    font-size: 1.2rem;
}