.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}

.header-h1{
    font-size: 1.7rem;
    text-transform: uppercase;
}

.header-img-container{
    display: flex;
    gap: 1em;
    align-items: center;
}

.header-img{
    width: 50px;
}