.buzonPassword-global{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buzonPassword-container{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 2em;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.buzon-input-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buzonPassword-input{
    padding: 5px 10px;
    border: none;
    border: 1px solid #cacaca;
    border-radius: 10px;
    width: 100%;
}

.buzon-button-container{
    display: flex;
    justify-content: center;
    gap: 3em;
}



.buzon-button-eye{
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 4px;
}

.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 30px;
  min-width: 15px;
  outline: none;
  overflow: hidden;
  padding: 0px 15px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}

.fix-cancelar{
    text-align: start;
}

.fix-enviar{
    padding-top: .5em;
}